* {
  scroll-behavior: smooth;

  -webkit-tap-highlight-color: transparent;

  box-sizing: border-box !important;
  -moz-box-sizing: border-box !important;
  -webkit-box-sizing: border-box !important;
}

html,
body,
#nuxt {
  max-width:100%;
  color: #444b53;
  background: #ffffff;
  user-select: none;
}

*::-webkit-scrollbar {
  width: 8px;
  background-color: #f2f4f7;
  z-index: 99999;
}

*::-webkit-scrollbar-thumb {
  background-color: #5c97ee;
}
